.error {
	color: red;
	border: 1px solid red;
}

#grid {
	text-align: center;
	margin-bottom: 1.5rem;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

.item {
	line-height: 5rem;
}

.item:disabled {
	opacity: 0.3;
}

.inactive {
	display: none;
}

#play-again.active {
	display: inline-flex;
}