/*--------------------------------------------------------------
### Base
--------------------------------------------------------------*/
html, body {
  height: 100%;
}

body {
	background: $color__brand-1;
  color: #FFF;
  text-align: center;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: inset 0 0 1em darken($color__brand-1, 30%);
}

#user-info, form, header {
  @include padding-left-right;
}

header {
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}