/*--------------------------------------------------------------
### Game Play
--------------------------------------------------------------*/
.grid-wrapper {
	margin-top: 1rem;
	margin-bottom: 1rem;
	@include margin-left-right;
}

#grid {
	display: flex;
	flex-wrap: wrap;

	.tile {
		flex: 1 1 22.5%;
		position: relative;
		padding: 0;
		border-radius: 50%;
		border: 3px solid #FFF;
		margin: 0.25rem;
		
		&:after {
			content: '';
			float:left;
			display: block;
			padding-top: 100%;
		}
	}
}