/*--------------------------------------------------------------
## General
--------------------------------------------------------------*/
html {
  @include font-size(0.875);
}

body {
  font-family: $font__main;
  font-weight: 200;
}

/*--------------------------------------------------------------
## Headings
--------------------------------------------------------------*/
h1, h2, h3 {
  margin: 0;
}

h1, h2 {
  font-family: $font__alt;
}

.game-question {
  font-weight: 300;
  font-size: 1.125em;

  span {
    font-size: 1.5em;
    font-weight: 900;
    display: block;
  }
}