form.inactive {
	display: none;
}

legend {
  text-transform: uppercase;
  font-weight: 900;
}

form[name="form-game-settings"], form[name="form-user-info"] {
  display: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  &.active {
    display: inline;
  }

  legend {
    width: 100%;
    font-size: 1.25em;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
  }
}

form[name="form-user-info"] {
  .intro {
    font-family: $font__alt;
    font-size: 2.5em;
    line-height: 1.125;
    display: block;
    margin-bottom: 4rem;
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
textarea#comments {
	border: 0;
	border-radius: 0;
	padding: .5375em;
  width: 100%;
  font-size: 1.25em;
  text-align: center;
  color: $color__text-drk;
  margin-bottom: 0.75rem;
}